---
layout: default
prism: true
---

<div class="container mx-auto max-w-4xl pt-24 px-6">
    <article class="prose lg:prose-xl my-4 mx-auto font-barlow text-justify">
        {{ content | safe }}
    </article>
</div>

<div class="mt-12">
    <div class="grid grid-cols-6">
        {% if peeps.people %}
            {% for p in peeps.people %}
                <div class="{{p.bg}} bg-cover aspect-square">
                    <div class="transition w-full h-full hover:bg-amber-500/50 opacity-0 hover:opacity-100 flex flex-col items-center justify-center text-white font-barlow font-bold">
                        <div class="pt-16 text-xl">
                            {{p.name}}
                        </div>
                        <div class="-mt-1 text-sm">
                            {{p.specialization}} {{p.year}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="bg-gradient-to-br from-yellow-500 to-amber-500 aspect-square">
            <div class="w-full h-full flex flex-col items-center justify-center text-white font-barlow font-bold">
                <div class="text-xl text-center align-middle">
                    Join Us!
                </div>
            </div>
        </div>
    </div>
</div>
