<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if description %}<meta name="description" content="{{ description }}">{% endif %}
<title>{{ title }}</title>
<link rel="icon" href="img/mascot.png">
<link rel="stylesheet" href="style.css?v=2">
</head>
<body>

{% include "./partials/fish-bg.njk" %}

{% include "./partials/navbar.njk" %}

{{ content | safe }}

{% include "./partials/footer.njk" %}

<script src="script.js"></script>
</body>
</html>
