<nav x-data="{ expanded: false }">
  <div class="fixed bg-gray-700 w-full z-40 filter drop-shadow-xl">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <Components.navbar />
        <Components.mobile_navbar />
      </div>
    </div>

    <div x-cloak x-show="expanded" x-collapse>
      <Components.mobile_menu />
    </div>
  </div>
</nav>
