.blue-2024 {
    background-color: rgb(116 203 187)
}
.pink-2024 {
    color: rgb(243 174 154)
}
.silver {
    background-color: rgb(192 192 192)
}
.bronze {
    background-color: rgb(205 127 50)
}
.gold {
    background-color: rgb(255 222 64)
}
