---
layout: default
path: about-us
---

<div class="bg-stone-200">
    <div class="container mx-auto pt-24 px-4 max-w-3xl text-justify">
        <h1 class="text-center text-4xl font-barlow font-bold">Brilliant Class</h1>
        <div class="mt-4 font-barlow">
            Brilliant Class adalah sebuah program pendidikan khusus di SMAK Penabur Gading Serpong untuk siswa “berbakat intelektual tinggi”. 
            Tujuannya adalah mengembangkan potensi siswa secara optimal sehingga siswa memiliki kesempatan untuk mendapat pendidikan lanjutan 
            di perguruan tinggi terbaik di dunia. Dan agar kelak mereka mampu mengabdikan diri dalam membangun bangsa dan negara melalui ilmu 
            pengetahuan yang mereka miliki. Jadi, tunggu apa lagi? Segera daftarkan dirimu dalam Brilliant Competition XIV dan teruslah berjuang 
            untuk meraih prestasi yang terbaik!
        </div>
    </div>
    <div class="mt-12">
        <div class="grid grid-cols-6">
            {% if peeps.people %}
                {% for p in peeps.people %}
                    <div class="{{p.bg}} bg-cover aspect-square">
                        <div class="transition w-full h-full hover:bg-amber-500/50 opacity-0 hover:opacity-100 flex flex-col items-center justify-center text-white font-barlow font-bold">
                            <div class="pt-16 text-xl">
                                {{p.name}}
                            </div>
                            <div class="-mt-1 text-sm">
                                {{p.specialization}} {{p.year}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="bg-gradient-to-br from-yellow-500 to-amber-500 aspect-square">
                <div class="w-full h-full flex flex-col items-center justify-center text-white font-barlow font-bold">
                    <div class="text-xl text-center align-middle">
                        Join Us!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
