---
layout: default
path: home
title: Home · bcomp.id
---

<div class="bg-cover bg-fixed bg-[url('/static/img/2024-landing-cover.jpg')] min-h-screen w-full">
    <div class="bg-gradient-to-b lg:bg-gradient-to-br from-black/50 h-full">
        <div class="container mx-auto h-full lg:h-screen flex flex-col lg:flex-row items-center justify-between px-4 py-16">
            <div class="mt-8">
                <div class="text-6xl md:text-[6rem] xl:text-[8rem] font-semi italic font-black text-white/95 leading-none">
                    BRILLIANT<br />COMPETITION
                </div>
                <div class="text-2xl md:text-5xl font-semi italic font-black text-white/95 md:mt-4">
                    IGNITE YOUR BRILLIANT POTENTIAL
                </div>
            </div>
            <div class="mt-16 lg:mt-10 bg-black/40 rounded shadow-lg p-6 backdrop-blur">
                <div class="text-white font-bold text-3xl text-center font-sans">
                    Pendaftaran Sudah Ditutup<br />Terima kasih
                </div>
<!--
                <div class="flex mt-4 space-x-6 justify-center"
                     x-data="{ countdown: new Date({{ event.deadline / 1 }}) <= new Date() ? 0 : Math.floor((new Date({{ event.deadline / 1 }}) - new Date()) / 1000) }"
                     x-init="window.setInterval(() => countdown -= countdown > 0, 1000)">
                    <div class="px-4 py-3 bg-stone-700/80 rounded text-white font-bold">
                        <div class="text-5xl text-center mt-1" x-text="Math.floor(countdown / 86400).toString().padStart(2, '0')"></div>
                        <div class="text-xl text-center mt-2">Hari</div>
                    </div>
                    <div class="px-4 py-3 bg-stone-700/80 rounded text-white font-bold">
                        <div class="text-5xl text-center mt-1" x-text="(Math.floor(countdown / 3600) % 24).toString().padStart(2, '0')"></div>
                        <div class="text-xl text-center mt-2">Jam</div>
                    </div>
                    <div class="px-4 py-3 bg-stone-700/80 rounded text-white font-bold">
                        <div class="text-5xl text-center mt-1" x-text="(Math.floor(countdown / 60) % 60).toString().padStart(2, '0')"></div>
                        <div class="text-xl text-center mt-2">Menit</div>
                    </div>
                </div>
-->
                <div class="mt-16 space-y-3">
                    <a class="cursor-pointer block p-3 transition bg-stone-700/80 hover:bg-stone-800/80 rounded drop-shadow text-center text-white font-bold"
                       target="_blank"
                       href="https://drive.google.com/file/d/1Sq1-eSLdtCpAVM8GJ_7ml13we1mDzyCE/view"
                    >
                        Guidebook Lomba
                    </a>
                    <a class="cursor-pointer block p-3 transition bg-stone-700/80 hover:bg-stone-800/80 rounded drop-shadow text-center text-white font-bold"
                       target="_blank"
                       href="https://drive.google.com/file/d/1aQDFVbzQUj-GDEVLDjYDmIPP2ibwt4Qq/view"
                    >
                        Silabus
                    </a>
                    <a class="cursor-pointer block p-3 transition bg-stone-700/80 hover:bg-stone-800/80 rounded drop-shadow text-center text-white font-bold"
                       target="_blank"
                       href="https://drive.google.com/file/d/1f1LbQun5haISQHbkNfKQYFhuzsVuya7j/view"
                    >
                        Proposal Umum
                    </a>
<!--
                    <div class="flex space-x-3">
                        <a class="grow cursor-pointer block p-3 transition bg-honey-400/10 hover:bg-honey-400/10 ring-stone-700 rounded drop-shadow text-center text-white font-bold"
                           target="_blank"
                        >
                            Daftar MAT!
                        </a>
                        <a class="grow cursor-pointer block p-3 transition bg-honey-400/10 hover:bg-honey-400/10 ring-stone-700 rounded drop-shadow text-center text-white font-bold"
                           target="_blank"
                        >
                            Daftar IPA!
                        </a>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>
</div>
{% if quicklinks.links.length %}
    <div class="bg-stone-900">
        <div class="container mx-auto px-4 py-12">
            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 px-4 mx-auto">
                {% for item in quicklinks.links %}
                    <a href="{{item.url}}" target="_blank" class="transition p-5 border rounded border-gray-200 hover:bg-white/10 text-white">
                        <span class="text-xl font-bold">
                            {{item.title}}
                        </span>
                        <p>{{item.desc}}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<div class="bg-tosca-500">
    <div class="container mx-auto max-w-3xl px-4 py-4 text-center font-bold">
        Mari ikut lomba matematika dan IPA tingkat nasional di Brilliant Competition!
    </div>
</div>
<div class="bg-snow-100">
    <h1 class="text-center text-5xl font-semi italic font-black py-12">HASIL BABAK SEMIFINAL</h1>
    <div class="flex justify-center pb-12 gap-4">
        <a class="px-6 py-2 border-honey-500 border-4 bg-honey-400 rounded-lg shadow"
           href="https://drive.google.com/file/d/1S68s5b9eCKmR_ZADXDi7lRP7aDT-I-SM/view?usp=sharing"
        >
        Hasil Babak Semifinal →
        </a>
        <a class="px-6 py-2 border-honey-500 border-4 bg-honey-400 rounded-lg shadow"
           href="https://drive.google.com/file/d/1N-gDWn3C8lXwG7kZaeusKODIPel739XW/view?usp=drivesdk"
        >
        Aturan Jeopardy
        </a>
    </div>
</div>
<div class="bg-tosca-500">
    <h1 class="text-center text-5xl font-semi italic font-black py-12">PRIZES</h1>
    <div class="container mx-auto px-4 pb-12 grid grid-cols-1 md:grid-cols-5 gap-2">
        <div class="p-5 rounded bg-gold text-white font-semi italic drop-shadow">
            <div class="text-3xl text-center">Juara 1</div>
            <div class="text-3xl text-center">IDR 5.000.000</div>
        </div>
        <div class="p-5 rounded bg-silver text-white font-semi italic drop-shadow">
            <div class="text-3xl text-center">Juara 2</div>
            <div class="text-3xl text-center">IDR 3.500.000</div>
        </div>
        <div class="p-5 rounded bg-bronze text-white font-semi italic drop-shadow">
            <div class="text-3xl text-center">Juara 3</div>
            <div class="text-3xl text-center">IDR 2.500.000</div>
        </div>
        <div class="p-5 rounded bg-stone-600 text-white font-semi italic drop-shadow">
            <div class="text-3xl text-center">Juara 4</div>
            <div class="text-3xl text-center">IDR 1.750.000</div>
        </div>
        <div class="p-5 rounded bg-stone-600 text-white font-semi italic drop-shadow">
            <div class="text-3xl text-center">Juara 5</div>
            <div class="text-3xl text-center">IDR 1.250.000</div>
        </div>
    </div>
</div>
<div class="bg-snow-100 py-12">
    <h1 class="text-center text-5xl font-semi italic font-black">TIMELINE</h1>
    <div class="flex justify-center items-center container mx-auto px-4 pt-12">
        <div class="flex flex-col md:hidden">
            <div class="flex flex-row space-x-4 items-stretch rounded hover:bg-black/20 px-4">
                <div class="flex flex-col items-center">
                    <div class="h-6 w-1 bg-black/60"></div>
                    <div class="w-4 h-8 rounded-full bg-honey-400 border-4 border-black/60"></div>
                    <div class="grow w-1 bg-black/60"></div>
                </div>
                <div class="flex flex-col font-bold py-4">
                    2 Sept 2024<br/>
                    Start P1
                </div>
            </div>
            <div class="flex flex-row space-x-4 items-stretch rounded hover:bg-black/20 px-4">
                <div class="flex flex-col items-center">
                    <div class="h-6 w-1 bg-black/60"></div>
                    <div class="w-4 h-8 rounded-full bg-honey-400 border-4 border-black/60"></div>
                    <div class="grow w-1 bg-black/60"></div>
                </div>
                <div class="flex flex-col font-bold py-4">
                    8 Sept 2024<br/>Deadline P1
                </div>
            </div>
            <div class="flex flex-row space-x-4 items-stretch rounded hover:bg-black/20 px-4">
                <div class="flex flex-col items-center">
                    <div class="h-6 w-1 bg-black/60"></div>
                    <div class="w-4 h-8 rounded-full bg-honey-400 border-4 border-black/60"></div>
                    <div class="grow w-1 bg-black/60"></div>
                </div>
                <div class="flex flex-col font-bold py-4">
                    13 Sept 2024<br/>Live Class
                </div>
            </div>
            <div class="flex flex-row space-x-4 items-stretch rounded hover:bg-black/20 px-4">
                <div class="flex flex-col items-center">
                    <div class="h-6 w-1 bg-black/60"></div>
                    <div class="w-4 h-8 rounded-full bg-honey-400 border-4 border-black/60"></div>
                    <div class="grow w-1 bg-black/60"></div>
                </div>
                <div class="flex flex-col font-bold py-4 w-full" x-data="{ disclosed: false }">
                    20 Sept 2024<br/>P2 & Semifinal
                </div>
            </div>
            <div class="flex flex-row space-x-4 items-stretch rounded hover:bg-black/20 px-4">
                <div class="flex flex-col items-center">
                    <div class="h-6 w-1 bg-black/60"></div>
                    <div class="w-4 h-8 rounded-full bg-honey-400 border-4 border-black/60"></div>
                    <div class="grow w-1 bg-black/60"></div>
                </div>
                <div class="flex flex-col font-bold py-4">
                    21 Sept 2024<br/>Final
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-4 pt-12 hidden md:grid grid-cols-5">
        <div class="flex flex-col space-y-4 rounded hover:bg-black/20 py-4">
            <div class="text-center font-bold">
                2 Sept 2024
            </div>
            <div class="flex items-center">
                <div class="grow h-1 bg-black/60"></div>
                <div class="w-8 h-4 rounded-full bg-honey-400 border-4 border-black/60"></div>
                <div class="grow h-1 bg-black/60"></div>
            </div>
            <div class="text-center font-bold">
                Start P1
            </div>
        </div>
        <div class="flex flex-col space-y-4 rounded hover:bg-black/20 py-4">
            <div class="text-center font-bold">
                8 Sept 2024
            </div>
            <div class="flex items-center">
                <div class="grow h-1 bg-black/60"></div>
                <div class="w-8 h-4 rounded-full bg-honey-400 border-4 border-black/60"></div>
                <div class="grow h-1 bg-black/60"></div>
            </div>
            <div class="text-center font-bold">
                Deadline P1
            </div>
        </div>
        <div class="flex flex-col space-y-4 rounded hover:bg-black/20 py-4">
            <div class="text-center font-bold">
                13 Sept 2024
            </div>
            <div class="flex items-center">
                <div class="grow h-1 bg-black/60"></div>
                <div class="w-8 h-4 rounded-full bg-honey-400 border-4 border-black/60"></div>
                <div class="grow h-1 bg-black/60"></div>
            </div>
            <div class="text-center font-bold font-sans">
                Live Class Brilliant Competition
            </div>
        </div>
        <div class="flex flex-col space-y-4 rounded hover:bg-black/20 py-4">
            <div class="text-center font-bold">
                20 Sept 2024
            </div>
            <div class="flex items-center">
                <div class="grow h-1 bg-black/60"></div>
                <div class="w-8 h-4 rounded-full bg-honey-400 border-4 border-black/60"></div>
                <div class="grow h-1 bg-black/60"></div>
            </div>
            <div class="text-center font-bold">
                P2 & Semifinal
            </div>
        </div>
        <div class="flex flex-col space-y-4 rounded hover:bg-black/20 py-4">
            <div class="text-center font-bold">
                21 Sept 2024
            </div>
            <div class="flex items-center">
                <div class="grow h-1 bg-black/60"></div>
                <div class="w-8 h-4 rounded-full bg-honey-400 border-4 border-black/60"></div>
                <div class="grow h-1 bg-black/60"></div>
            </div>
            <div class="text-center font-bold">
                Final
            </div>
        </div>
    </div>
    <!--<div class="flex justify-center mt-6">
        <a href="/posts/schedule-bcomp-xiv/" class="px-6 py-2 border-honey-500 border-4  bg-honey-400 rounded-lg shadow">
            Selengkapnya
        </a>
    </div>-->
</div>
<div class="bg-tosca-500">
    <div class="container mx-auto max-w-3xl px-4 py-12">
        <div class="w-full mx-auto rounded-md shadow">
            <div class="w-full h-full bg-honey-400 rounded-md text-xl p-8 text-justify">
                <p class="text-justify">
                    {{event.description}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-snow-100">
    <h1 class="text-center text-5xl font-semi italic font-black py-12">SPONSORS</h1>
    <div class="container mx-auto max-w-3xl px-4 pb-12 flex justify-center items-center">
        <img src="/static/img/sponsor-pukat-nusantara.jpg" class="object-center"/>
    </div>
</div>
<div class="bg-tosca-500">
    <h1 class="text-center text-5xl font-semi italic font-black py-12">FAQ</h1>
    <div class="container mx-auto max-w-3xl px-4 pb-12">
        <div class="space-y-2">
            {#% if event.faq %#}
            {% for qna in event.faq %}
                <div class="bg-tosca-600 rounded shadow" x-data="{ disclosed: false }">
                    <div @click="disclosed = !disclosed" class="p-3">
                        {{qna.q}}
                    </div>
                    <div  class="px-4 pb-4" x-show="disclosed" x-collapse>
                        <hr class="pt-4 border-stone-500 border-1"/>
                        {{qna.a}}
                    </div>
                </div>
            {% endfor %}
            {#% endif %#}
        </div>

        <div class="flex justify-center">
            <div class="bg-tosca-600 rounded shadow p-8 mt-8 inline-block">
                <h2 class="text-center text-2xl font-bold pb-4">Ada pertanyaan lain?</h2>
                <div class="space-y-2">
                    <a class="flex items-center"
                       href="https://wa.me/6285215323773"
                    >
                        <ion-icon class="text-2xl mr-2" name="logo-whatsapp"></ion-icon>
                        +62 852 1532 3773 (Jessica)
                    </a>
                    <a class="flex items-center"
                       href="https://wa.me/6281275661523"
                    >
                        <ion-icon class="text-2xl mr-2" name="logo-whatsapp"></ion-icon>
                        +62 812 7566 1523 (Nadine)
                    </a>
                    <a class="flex items-center"
                       href="https://wa.me/62895395318817"
                    >
                        <ion-icon class="text-2xl mr-2" name="logo-whatsapp"></ion-icon>
                        +62 895 3953 18817 (Abie)
                    </a>
                    <a class="flex items-center"
                       href="https://line.me"
                    >
                        <ion-icon class="text-2xl mr-2" name="chatbubble-outline"></ion-icon>
                        yyuriiko (Yuriko)
                    </a>
                    <a class="flex items-center"
                       href="https://instagram.com/brilliantcompetition"
                    >
                        <ion-icon class="text-2xl mr-2" name="logo-instagram"></ion-icon>
                        @brilliantcompetition
                    </a>
                    <a class="flex items-center"
                       href="https://www.instagram.com/debrilliantclass"
                    >
                        <ion-icon class="text-2xl mr-2" name="logo-instagram"></ion-icon>
                        @debrilliantclass
                    </a>
                    <a class="flex items-center"
                       href="https://mail.google.com"
                    >
                        <ion-icon class="text-2xl mr-2" name="mail-outline"></ion-icon>
                        brilliantcompetitionxvi@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-stone-600">
    <div class="container mx-auto px-4 py-12">
        <div class="w-full grid grid-cols-1 gap-4 px-4 mx-auto ">
            <a href="/about-us" class="p-5 border rounded border-gray-200 hover:bg-white/10 text-white font-bold text-center">
                <h3>Learn more about us →</h3>
            </a>
        </div>
    </div>
</div>
