<div class="w-full grid grid-cols-4 gap-4 px-4 mx-auto">
    {% if quicklinks.links %}
        {% for item in quicklinks.links %}
            <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400 text-white">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}
    {% endif %}
</div>
