<footer class="bg-stone-900 text-center w-full p-4">
    <small class="text-white">Copyright © bcomp 2022-2024. Made with 🍯 by
        <a href="https://github.com/orgs/beecomp/people" target="_blank" class="underline text-white hover:text-indigo-400">Worker Bees</a>
    </small>
</footer>
