<footer class="font-barlow text-center w-full p-4">
    <small clask="text-gray-500">Copyright © bcomp 2022. Made with 🍯 by
        <a href="https://github.com/orgs/beecomp/people" target="_blank" class="underline">Worker Bees</a>
    </small>
</footer>
