<nav>
  <a class="logo" href="index.html"><img src="img/mascot.png" alt="">BCOMP XVIII</a>
  <ul class="nav-links">
    <li><a href="competition.html">Competition</a></li>
    <li><a href="schedule.html">Schedule</a></li>
    <li><a href="venue.html">Venue</a></li>
    <li><a href="participants.html">Schools</a></li>
    <li><a href="edition-xvii.html">BCOMP XVII</a></li>
    <li><a href="about.html">About Us</a></li>
    <li><a href="faq.html">FAQ</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="game.html">Game</a></li>
  </ul>
</nav>
