<div x-data="{ open: false }" class="fixed w-full flex-wrap justify-between h-13 bg-stone-900 z-40 shadow-xl pb-0">
    <nav class="flex items-center justify-between flex-wrap pr-4 py-2 container mx-auto">
        <!--Logo etc-->
        <div class="flex items-center">
            <a href="/">
                <img src="/static/img/header-logo-2025.png" alt="logo" class="h-12 w-36 object-cover"/>
            </a>
        </div>

        <!-- The Wheel -->
        <button @click="open = !open" class="block lg:hidden focus:outline-none">
            <img src="/static/img/wheel.png" alt="menu" class="h-8 w-8 ml-2 transition-transform duration-300" :class="{ 'rotate-180': open }"/>
        </button>

        <!-- LG Menu -->
        <ul class="hidden lg:flex space-x-6 text-white font-semibold ">
            <li><a href="#announcement" class="hover:text-indigo-400">Announcement</a></li>
            <li><a href="#awards" class="hover:text-indigo-400">Awards</a></li>
            <li><a href="#schedule" class="hover:text-indigo-400">Schedule</a></li>
            <li><a href="#faq" class="hover:text-indigo-400">FAQ</a></li>
            <li><a href="#contact" class="hover:text-indigo-400">Contact</a></li>
            <li><a href="/about-us" target="_blank" class="hover:text-indigo-400">About Us</a></li>
        </ul>
    </nav>

    <div x-show="open" class="lg:hidden px-4 pb-4 bg-stone-900 text-white">
        <ul class="space-y-2 font-semibold text-right">
            <li><a href="#announcement" class="hover:text-indigo-400">Announcement</a></li>
            <li><a href="#awards" class="hover:text-indigo-400">Awards</a></li>
            <li><a href="#schedule" class="hover:text-indigo-400">Schedule</a></li>
            <li><a href="#faq" class="hover:text-indigo-400">FAQ</a></li>
            <li><a href="#contact" class="hover:text-indigo-400">Contact</a></li>
            <li><a href="/about-us" target="_blank" class="hover:text-indigo-400">About Us</a></li>
        </ul>
    </div>
</div>
